
  /* * {
      box-sizing: border-box;
  } */
  
  html {
      height: 100%;
  }
  
  body {
      height: 100%;
      background-color: cornflowerblue;
  }
  
  header {
      text-align: center;
  }
  
  h1 {
      font-family: 'Comfortaa', sans-serif;
      margin: 0px;
  }
  
  section#chatroom {
      height: 85%;
      overflow: auto;
  }
  


  input#username {
      font-family: 'Comfortaa', sans-serif;
  }
  
  input#message {
      display: inline-block;
      width: 88%;
      height: 70%;
      font-family: 'Comfortaa', sans-serif;
      font-size: 2vh;
  }
  
  button#send_message {
      display: inline-block;
      height: 70%;
      width: 10%;
  }
  
  p.message {
      margin: 0px;
      width: 50%;
      height: 40px;
      font-size: 2vh;
      font-family: 'Comfortaa', sans-serif;
      padding: 1vh;
  }
  .message:nth-child(odd){

    border-radius: 5px;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
    background-color: rgba(25,147,147,0.2);
    float: left;
    margin-left: 55px;
    color:whitesmoke;
 
}
.message:nth-child(even){

    border-radius: 5px;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
    background-color: rgba(13, 121, 121, 0.746);
    float: left;
    margin-left: 55px;
    color:whitesmoke;
 
}
.message:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }
 .msg {
	background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background-repeat: no-repeat;
} 
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none !important;
outline:0px !important;
}

.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
    position: relative;
    height: 60px !important;
  
}

.card-footer{
    border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
}
